/* Primary Navigation */
.navbar{
    background-image: linear-gradient(to top, #391670, #0E050F);
  }
  
/*  logo  */
.navbar-brand img{
    height: 70px;
    // width: 70px;
    object-fit: contain;
    margin-left: -16px;
    margin-top: -13px;
    margin-bottom: -12.5px;
}